
    nav{
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        box-shadow: 2px 1px 15px -5px black;
        padding: .5rem;
        background-color: white;

    }
